// _detail.scss
.detail {
  text-align: center;

  section {
    max-width: 768px;
    margin: 0 auto;
    padding: 50px 20px;

    h2 { 
      font-size: 36px; 
      margin-bottom: 1em;
    }

    img { 
      width: 100%; 
      aspect-ratio: 4/3;
      object-fit: cover;
    }

    .skills {
      margin: 20px 0;
      li {
        display: inline-block;
        background-color: #cedede;
        padding: 5px 1rem;
        border-radius: 10px;
        margin: 4px;
        font-size: 14px;
      }
    }

    a {
      display: inline-block;
      color: $main-color;
      &:hover { text-decoration: underline; }
    }
    p { margin: 50px 0;}
  }
}