// _footer.scss
.main-footer {
  background: $main-color;
  color: #fff;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  
  .sns { 
    font-size: 32px;
    a { margin: 10px; }
  }
}