// _navbar.scss

// PC
@media screen and (min-width: 500px) {
  .navbar {
    max-width: 1440px;
    height: 60px;
    background: $main-color;
    color: $text-light;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    ul { display: flex;
      a { 
        padding: 0 1rem;
        &:hover { color: $sub-color; }
      }
    }
    .btn-toggle { display: none; }
  }  
}

// Mobile
@media screen and (max-width: 499px) {
  .navbar {
    position: relative;
    width: 100%;
    height: 60px;
    background: $main-color;
    color: $text-light;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    ul { 
      display: none;

      &.active { 
        position: absolute;
        width: 100%;
        height: calc(100vh - 60px);
        left: 0;
        top: 60px;
        background: $main-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        width: 100%;
        align-items: center;

        a { 
          padding: 0 1rem;
          color: $text-light;
          &:hover { color: $sub-color; }
          display: block;
          padding: 8px 20px;
          text-align: center;
          font-size: 28px;
          font-weight: bold;
        }
      }
    }
  }  
}

.btn-toggle {
  border: none;
  background: transparent;
  color: #fff;
}
